h2{
    text-align: center;
    text-decoration: underline;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 15px;
    color:cornflowerblue;

}
th {
    background-color: #f2f2f2;

}
.pagination{
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 15px 0;
}
.pagination>span{
    padding:15px 20px;
    border:1px solid gray;
    cursor:pointer

}
.selected_pagination{
    background-color:rgb(220,220,220);
}
.pagination_disabled{
    opacity:0;
}